@model IEnumerable<SnackBar.Web.Models.ProductDto>
<br />
<div class="container p-4 border">
    <div class="row" pb-2>
        <div class="col">
            <h1 class="text-info">Snack Items</h1>
        </div>


        <div class="col text-end pt-1">
            <a asp-action="CreateProduct" class="btn btn-outline-info"><i class="fas fa-plus"></i>Add a Snack</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Perform</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var snak in Model)
            {
                <tr>
                    <td>@snak.Name</td>
                    <td>@snak.CategoryName</td>
                    <td>@snak.Price</td>
                    <td>
                        <a asp-action="EditProduct" asp-route-productId="@snak.ProductId" class="btn btn-warning">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-action="EraseProduct" asp-route-productId="@snak.ProductId" class=" btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
